@charset "UTF-8";
/* 共通部分 */
html {
  font-size: 100%;
}

body {
  line-height: 1.7;
  color: #555555;
  font-family: "Noto Sans JP", sans-serif;
}

.wrapper {
  width: 980px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

a {
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
a:hover {
  opacity: 0.7;
}

/* 共通部分 ここまで*/
.hero {
  background-image: url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.hero p {
  color: #ffffff;
  font-size: 36px;
  font-weight: bold;
}
.hero p span {
  font-size: 48px;
}
.hero h1 {
  color: #ffffff;
  font-size: 72px;
  font-weight: bold;
}
.hero h2 {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
  margin-top: 40px;
  padding: 0.3em 0.5em;
  background: -webkit-gradient(linear, left bottom, left top, from(#be8f27), to(#ffc23e));
  background: linear-gradient(to top, #be8f27, #ffc23e);
}

.program {
  margin-top: 40px;
  padding: 13px 64px;
  background-color: #dee9fe;
}
.program p {
  font-size: 16px;
}
.program ul {
  padding-top: 20px;
}
.program li {
  padding-left: 90px;
  padding-bottom: 40px;
  background: left top no-repeat;
  background-size: 48px auto;
  font-size: 20px;
}
.program li:nth-child(1) {
  background-image: url("../images/point1.jpg");
}
.program li:nth-child(2) {
  background-image: url("../images/point2.jpg");
}

.recommend {
  margin-top: 103px;
}
.recommend ul {
  margin-top: 43px;
  padding: 40px;
  background-color: #fffdc0;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.recommend li {
  background: url("../images/check.png") no-repeat 0 1px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 20px;
}

.project {
  margin-top: 103px;
}
.project ul {
  margin-top: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.project li {
  text-align: center;
}
.project li p {
  margin-top: 24px;
  font-size: 20px;
}

.course {
  margin-top: 148px;
}
.course ul {
  margin-top: 54px;
  padding: 0 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.after {
  margin-top: 115px;
}
.after-content {
  margin-top: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.after-content .person {
  text-align: center;
}
.after-content .person p {
  font-size: 15px;
  margin-top: 24px;
}
.after-content .comment {
  background-color: #fffdc0;
  margin-left: 40px;
  padding: 20px;
  position: relative;
  border-radius: 15px;
}
.after-content .comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #fffdc0;
}

.conditions {
  margin-top: 110px;
}

.entry-button {
  margin-top: 50px;
  background-color: #183061;
  width: 386px;
  height: 60px;
  border-radius: 18px;
}
.entry-button h2 {
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  padding-top: 12px;
}

.footer {
  margin-top: 77px;
  background-color: #183061;
  text-align: center;
  height: 93px;
}
.footer p {
  color: #ffffff;
  font-size: 18px;
  padding-top: 33px;
}
/*# sourceMappingURL=styles.css.map */